*{
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.canvas{    
    float: left;
    padding: 0;
}

.gamePlay{
    width: 800px;;
    height: 600px;
    margin-left: 20px;
    margin-top: 20px;    
    float: left;
}

#panel_top{
    margin-bottom: 10px;    
    margin-left: 80px;
    vertical-align: middle;
}

#panel_top h3{
    margin-right:15px;
    float: left;
}

#panel_bottom{            
    float: left;
    margin-left: 70px; 
}

#panel_right{
    float: left;    
    margin-top: 0;
    padding-top: 0;
    margin-left: 20px;    
    
}

#startGame{
    float: left;
}